.titleField {
  width: 100%;
  margin-bottom: 10px;

  &:before, &:after {
    display: none !important;
  }
  input {
    font-size: 28px !important;
    font-weight: 600;
  }
}

.editor {
  font-size: 18px;
  height: calc(100vh - 220px)
}