.title {
  font-weight: 500 !important;
  letter-spacing: -0.1px !important;
  font-size: 22px !important;
}

.paper {
  border-radius: 8px !important;
  margin-bottom: 30px;
}

.actions {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
  top: 5px;
  display: flex;
  justify-content: space-between;
}